<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <ui:include src="../templates/head_config.xhtml" />
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
        type="text/javascript"></script>
    </h:head>
    <h:body>
        <h:form id="form">
            <div id="wrapper">
                <!-- Navigation -->
                <ui:include src="../templates/navigation.xhtml" />
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">SITNAP</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default" style="width: 100%">
                                <div class="panel-heading">
                                    <i class="fa fa-th fa-fw">USUARIOS</i> 
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <p:outputLabel value="Cedula" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:inputText value="#{MbGestionDeUsuario.usuario.cedula}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel value="Nombre de Usuario" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:inputText value="#{MbGestionDeUsuario.usuario.nombreUsuario}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel value="Nombres" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:inputText value="#{MbGestionDeUsuario.usuario.nombres}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel value="Apellidos" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:inputText value="#{MbGestionDeUsuario.usuario.apellidos}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel value="Telefono" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:inputText value="#{MbGestionDeUsuario.usuario.telefono}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel value="Email" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:inputText value="#{MbGestionDeUsuario.usuario.email}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel  value="Password" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:password  value="#{MbGestionDeUsuario.usuario.password}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel  value="Password De verificacion" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:password  value="#{MbGestionDeUsuario.passwordVerificacion}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel  value="ADMINISTRADO" />
                                            </div>
                                            <div class="col-md-8">
                                                <h:selectBooleanCheckbox  value="#{MbGestionDeUsuario.isAdmin}"/>
                                            </div>
                                            <div class="col-md-12">
                                                <br/>
                                            </div>
                                            <div class="col-md-6">
                                                <div style="float: right">
                                                    <p:commandButton value="Guarda" action="#{MbGestionDeUsuario.accionGuardar()}" update=":form"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default" style="width: 100%">
                                <div class="panel-heading">
                                    <i class="fa fa-th fa-fw"></i> Usuarios
                                </div>
                                <div class="panel-body">
                                    <p:dataTable value="#{MbGestionDeUsuario.usuarios}" var="row" paginator="true" paginatorPosition="bottom" rows="10">
                                        <p:column headerText="Cedula">
                                            <p:outputLabel value="#{row.cedula}" />
                                        </p:column>
                                        <p:column headerText="Usuario">
                                            <p:outputLabel value="#{row.nombres} #{row.apellidos}" />
                                        </p:column>
                                        <p:column headerText="Nombre usuario">
                                            <p:outputLabel value="#{row.nombreUsuario}" />
                                        </p:column>
                                        <p:column headerText="estado">
                                            <p:outputLabel rendered="#{row.estado}" value="Habilitado" />
                                            <p:outputLabel rendered="#{!row.estado}" value="Deshabilitado" />
                                        </p:column>
                                        <p:column headerText="Tipo Usuario">
                                            <p:outputLabel value="#{row.tipoUsuario}" />
                                        </p:column>
                                        <p:column >
                                            <p:commandLink value="Editar" action="#{MbGestionDeUsuario.accionEditar(row)}" update=":form"/>
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-wrapper -->
            </div>
            <!-- /#wrapper -->
            <ui:include src="../templates/footer.xhtml" />
        </h:form>
    </h:body>
</html>