<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <ui:include src="../templates/head_config.xhtml" />
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
        type="text/javascript"></script>
    </h:head>
    <h:body>
        <h:form id="form">
            <div id="wrapper">
                <!-- Navigation -->
                <ui:include src="../templates/navigation.xhtml" />
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">SITNAP</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default" style="width: 100%">
                                <div class="panel-heading">
                                    <i class="fa fa-th fa-fw">PROYECTO</i> 
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <p:outputLabel value="Nombre" />
                                            </div>
                                            <div class="col-md-8">
                                                <p:inputText value="#{MbGestionProyecto.proyecto.nombre}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel  value="Privado" />
                                            </div>
                                            <div class="col-md-8">
                                                <h:selectBooleanCheckbox  value="#{MbGestionProyecto.proyecto.esPrivado}"/>
                                            </div>
                                            <div class="col-md-12">
                                                <br/>
                                            </div>
                                            <div class="col-md-6">
                                                <div style="float: right">
                                                    <p:commandButton value="Guarda" action="#{MbGestionProyecto.accionGuardar()}" update=":form"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default" style="width: 100%">
                                <div class="panel-heading">
                                    <i class="fa fa-th fa-fw"></i> Usuarios
                                </div>
                                <div class="panel-body">
                                    <p:dataTable value="#{MbGestionProyecto.proyectos}" var="row" paginator="true" paginatorPosition="bottom" rows="10">
                                        <p:column headerText="Nombre">
                                            <p:outputLabel value="#{row.nombre}" />
                                        </p:column>
                                        <p:column headerText="Vista">
                                            <p:outputLabel rendered="#{row.esPrivado}" value="Privado" />
                                            <p:outputLabel rendered="#{!row.esPrivado}" value="Publico" />
                                        </p:column>
                                        <p:column >
                                            <p:commandLink value="Editar" action="#{MbGestionProyecto.accionEditar(row)}" update=":form"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-wrapper -->
            </div>
            <!-- /#wrapper -->
            <ui:include src="../templates/footer.xhtml" />
        </h:form>
    </h:body>
</html>