<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        
            <!-- jQuery -->
            <!--
            <script src="../bower_components/jquery/dist/jquery.min.js"></script>
            -->
            <!-- Bootstrap Core JavaScript -->
            <script src="/sitnap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="/sitnap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

            <!-- Morris Charts JavaScript -->
            <!--
            <script src="../bower_components/raphael/raphael-min.js"></script>
            <script src="../bower_components/morrisjs/morris.min.js"></script>
            <script src="../js/morris-data.js"></script>
            -->
            <!-- Custom Theme JavaScript -->
            <script src="/sitnap/dist/js/sb-admin-2.js"></script>
            <script src="/sitnap/dist/js/custom.js"></script>
    </ui:composition>
</html>