<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <title>SITNAP</title>

        <!--nueva version -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <link href="/sitnap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- MetisMenu CSS -->
        <link href="/sitnap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

        <!-- Timeline CSS -->
        <link href="/sitnap/dist/css/timeline.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link href="/sitnap/dist/css/sb-admin-2.css" rel="stylesheet"/>

        <!-- Morris Charts CSS -->
        <!--
        <link href="/procc/bower_components/morrisjs/morris.css" rel="stylesheet"/>
        -->
        <!-- Custom Fonts -->
        <link href="/sitnap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>




    </ui:composition>
</html>