<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>

        <p:growl id="growl" showDetail="true" />
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SITNAP</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <h:panelGroup rendered="#{MbLogin.autenticado}">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> Cambiar Contraseña</a></li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Actualizar Datos Personales</a></li>
                            <li class="divider"></li>
                            <li><h:commandLink styleClass="fa fa-sign-out fa-fw" action="#{MbLogin.accionLogout()}" value=" Cerrar Sesion"/></li>
                        </ul>

                    </li>
                </h:panelGroup>
            </ul>
            <!-- /.dropdown-user -->


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            
                        </li>
                        -->
                        <h:panelGroup rendered="#{!MbLogin.autenticado}">
                            <li>
                                <a href="/sitnap/index.xhtml"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                            </li>
                            <li>
                                <a href="/sitnap/login.xhtml"><i class="fa fa-wrench fa-fw"></i>Login</a>
                                <!--
                                <ul class="nav nav-second-level">
                                     
                                    <li>
                                        <a href="#">Campañas</a>
                                    </li>
                                    <li>
                                        <a href="#">Establecimientos</a>
                                    </li>
                                    <li>
                                        <a href="#">Usuarios</a>
                                    </li>
                                </ul>
                                /.nav-second-level -->
                            </li>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{MbLogin.usuarioAdmin}">
                            <li>
                                <a href="/sitnap/admin/index.xhtml"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                            </li>
                            <li>
                                <a href="/sitnap/admin/gestionproyecto.xhtml"><i class="fa fa-archive fa-fw"></i>Proyecto</a>
                            </li>
                            <li>
                                <a href="/sitnap/admin/gestionusuario.xhtml"><i class="fa fa-user fa-fw"></i>Usuario</a>
                            </li>
                            <li>
                                <a href="/sitnap/admin/gestionsensor.xhtml"><i class="fa fa-laptop fa-fw"></i>Sensor</a>
                            </li>
                        </h:panelGroup>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>





    </ui:composition>
</html>