<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <ui:include src="../templates/head_config.xhtml" />
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
        type="text/javascript"></script>
    </h:head>
    <h:body>
        <h:form id="form">
            <div id="wrapper">
                <!-- Navigation -->
                <ui:include src="../templates/navigation.xhtml" />
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">SITNAP</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default" style="width: 100%">
                                <div class="panel-heading">
                                    <i class="fa fa-th fa-fw">SENSOR</i> 
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <p:outputLabel value="Limite inferior" />
                                        </div>
                                        <div class="col-md-8">
                                            <p:inputText value="#{MbGestionSensores.sensor.limiteInferio}"/>
                                        </div>
                                        <div class="col-md-4">
                                            <p:outputLabel value="Limite superior" />
                                        </div>
                                        <div class="col-md-8">
                                            <p:inputText value="#{MbGestionSensores.sensor.limiteSuperior}"/>
                                        </div>
                                        <div class="col-md-4">
                                            <p:outputLabel value="Unidad de medida" />
                                        </div>
                                        <div class="col-md-8">
                                            <p:inputText value="#{MbGestionSensores.sensor.unidadDeMedida}"/>
                                        </div>
                                        <div style="float: right">
                                            <p:commandButton value="Guarda" action="#{MbGestionSensores.accionGuarda()}" update=":form"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h:panelGroup>
                                            <p:gmap id="gmap" center="11.247141, -74.205504" zoom="13" type="HYBRID"  model="#{MbGestionSensores.draggableModel}" style="width:100%;height:400px">
                                                <p:ajax event="markerDrag" listener="#{MbGestionSensores.onMarkerDrag}" update="gmap" />
                                            </p:gmap>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-wrapper -->
            </div>
            <!-- /#wrapper -->
            <ui:include src="../templates/footer.xhtml" />
        </h:form>
    </h:body>
</html>