<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <ui:include src="/templates/head_config.xhtml" />
    </h:head>
    <h:body>
        <h:form id="form">
            <div id="wrapper">
                <!-- Navigation -->
                <ui:include src="/templates/navigation.xhtml" />
                <h:inputHidden value="#{MbInicio.string}" />
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                           <br/>
                           <br/>
                           <br/>
                           <br/>
                           <br/>
                           <br/>
                           <br/>
                           <br/>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <center>
                                <div class="panel panel-default" style="width: 50%">
                                    <div class="panel-heading">
                                        <i></i> 
                                    </div>
                                    <div class="panel-body">

                                        <div class="col-md-10">
                                                <div class="col-md-6">
                                                    <p:outputLabel value="Nombre de usuario" />
                                                </div>
                                                <div class="col-md-6">
                                                    <p:inputText style="width: 100%" value="#{MbLogin.nombreDeUsuaio}"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <p:outputLabel value="Password" />
                                                </div>
                                                <div class="col-md-6">
                                                    <p:password style="width: 100%" value="#{MbLogin.password}"/>
                                                </div>
                                            <div class="col-md-12">
                                                <br/>
                                            </div>
                                            <div class="col-md-12">
                                                <div style="float: right">
                                                    <p:commandButton value="Entrar" action="#{MbLogin.accionLogin()}"  update=":form"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- /#page-wrapper -->
            </div>
            <!-- /#wrapper -->
            <ui:include src="/templates/footer.xhtml" />
        </h:form>
    </h:body>
</html>